<div class="row full-width" ng-controller="ForumsController">

  <div class="two columns">
    <aside>
      <div class="row">
        <div class="two columns centered">
          <h3 id="logo">{{name}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <nav>
            <ul class="text-right">
              <li><a href="#">Newest</a></li>
              <li><a href="#">Older</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </aside>
  </div>

  <div class="five columns">
    <div class="row">
      <header>
        <div class="four columns">
          <h3>Newest</h3>
        </div>
        <div class="eight columns"><input type="text" placeholder="search" id="search"/></div>
      </header>
    </div>
    <div class="row">
      <ul>
      </ul>
    </div>
  </div>

  <div class="five columns">
  </div>

</div>